.time-box {
    width: 140px;
    height: 140px;
    cursor: default;
    overflow: hidden;
    position: relative;
    border-radius: 22px;
    backdrop-filter: blur(6px);
    background: linear-gradient(145deg,
            rgba(140, 0, 0, 0.85),
            rgba(90, 0, 0, 0.85));

    border: 1px solid rgba(255, 200, 120, 0.25);
    box-shadow:
        0 0 25px rgba(255, 170, 60, 0.25),
        inset 0 0 25px rgba(255, 120, 40, 0.15);
    transition: all 0.35s ease;
    animation: glowPulse 3s ease-in-out infinite;

    .time-glow {
        opacity: 0.6;
        inset: -20px;
        position: absolute;
        background: radial-gradient(circle,
                rgba(255, 200, 120, 0.25),
                transparent 60%);
        animation: glowRotate 8s linear infinite;
    }

    .time-content {
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .time-number {
            font-size: 40px;
            font-weight: 700;
            color: #ffd36a;
            text-shadow:
                0 0 10px rgba(255, 200, 100, 0.8),
                0 0 25px rgba(255, 160, 60, 0.6);

            animation: numberFlicker 2.5s infinite;
        }

        .time-label {
            opacity: 0.85;
            font-size: 24px;
            margin-top: 6px;
            color: #ffe7b0;
            font-style: italic;
            letter-spacing: 1px;
        }
    }

}

@keyframes glowPulse {

    0%,
    100% {
        box-shadow:
            0 0 25px rgba(255, 170, 60, 0.25),
            inset 0 0 25px rgba(255, 120, 40, 0.15);
    }

    50% {
        box-shadow:
            0 0 40px rgba(255, 200, 90, 0.45),
            inset 0 0 35px rgba(255, 140, 60, 0.25);
    }
}

@keyframes glowRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes numberFlicker {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.85;
    }
}