.time-box {
    gap: 6px;
    display: flex;
    min-width: 90px;
    padding: 16px 18px;
    align-items: center;
    border-radius: 18px;
    flex-direction: column;
    backdrop-filter: blur(2px);
    transition: transform 0.3s ease;
    background: rgba(0, 0, 0, 0.35);
    box-shadow:
    0 0 15px rgba(255, 215, 0, 0.35),
    inset 0 0 12px rgba(255, 255, 255, 0.1);

    .time-value {
        font-size: 42px;
        font-weight: 700;
        color: #ffd700;

        text-shadow:
            0 0 10px rgba(255, 215, 0, 0.9),
            0 0 20px rgba(255, 0, 0, 0.4);
    }

    .time-label {
        font-size: 14px;
        letter-spacing: 1px;
        color: #fff;
        opacity: 0.85;
    }
}
