.final10s {
    position: fixed;
    inset: 0;
    background: radial-gradient(circle, #7a0000, #3a0000);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    overflow: hidden;

    .pulse-bg {
        position: absolute;
        width: 200%;
        height: 200%;
        background: radial-gradient(circle,
                rgba(255, 180, 80, 0.15),
                transparent 60%);
        animation: pulse 1.5s infinite;
    }

    .count-number {
        font-size: 180px;
        font-weight: 900;
        color: #ffd36a;
        text-shadow:
            0 0 30px rgba(255, 200, 100, 1),
            0 0 60px rgba(255, 140, 60, 0.8),
            0 0 120px rgba(255, 80, 0, 0.6);

        animation: zoomBeat 1s infinite;
        z-index: 2;
    }
}

/* animations */
@keyframes zoomBeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.3;
    }
}