.final10s {
    inset: 0;
    display: flex;
    z-index: 9999;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background:
        radial-gradient(circle at center,
            #1b1f45 0%,
            #0b0e24 45%,
            #000000 100%);

    .pulse-bg {
        width: 220%;
        height: 220%;
        position: absolute;
        
        background: radial-gradient(circle,
                rgba(120, 160, 255, 0.12),
                rgba(120, 160, 255, 0.04),
                transparent 65%);
        animation: pulse 2s infinite ease-in-out;
        filter: blur(10px);
    }

    .count {
        z-index: 2;
        width: 300px;
        height: 300px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        background:
            radial-gradient(circle at center,
                rgba(20, 20, 40, 0.85) 25%,
                rgba(10, 10, 25, 0.65) 50%,
                rgba(5, 5, 15, 0.35) 75%,
                rgba(0, 0, 0, 0) 100%);
        backdrop-filter: blur(8px);


        .count-number {
            font-weight: 900;
            font-size: 180px;
            color: #ffe7b0;

            text-shadow:
                0 0 20px rgba(255, 220, 140, 0.9),
                0 0 50px rgba(255, 180, 80, 0.7),
                0 0 120px rgba(255, 120, 40, 0.4);

            animation: zoomBeat 1s infinite ease-in-out;
        }
    }
}

/* animations */

@keyframes zoomBeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.55;
    }

    100% {
        opacity: 0.25;
    }
}
