@use "./variables.scss" as *;

body {
  all: unset;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-family: $font-family;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
}
