.countdown {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(180deg,
            #7a0000 0%,
            #b30000 40%,
            #7a0000 100%);

    .countdown-overlay {
        gap: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.demo-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;

  padding: 10px 16px;
  border: none;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.12);
  color: white;
  font-weight: 600;

  cursor: pointer;
  backdrop-filter: blur(10px);

  transition: 0.25s ease;

  &:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
  }
}
