.countdown {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(180deg,
            #7a0000 0%,
            #b30000 40%,
            #7a0000 100%);

    .countdown-overlay {
        gap: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}